body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

textarea.materialize-textarea {
  color: #ffffff !important;
}

input:not([type]) {
  color: #ffffff !important;
  font-size: 24px !important;
  font-weight: 300 !important;
}
