body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 31px;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

input.input {
  color: #ffffff !important;
  height: inherit !important;
  border-bottom: none !important;
  margin: 0 0 0px 0 !important;
  text-align: center;
}

input:not([type]) {
  color: #ffffff !important;
  font-size: 24px !important;
  font-weight: 300 !important;
}

/* UI Search Retain Custom CSS from React Semantic UI */

.ui.icon.input > input.prompt {
  height: inherit;
  width: inherit;
}
